<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joker.thanglong">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/heart"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/bgToolbar"/>

        <activity android:name="com.joker.thanglong.MainActivity"/>
        <activity android:name="com.joker.thanglong.SignUpIn"/>
        <activity android:name="com.joker.thanglong.NotificationActivity"/>
        <activity android:name="com.joker.thanglong.UserProfileActivity"/>
        <activity android:name="com.joker.thanglong.PostActivity"/>
        <activity android:name="com.joker.thanglong.CommentPostActivity"/>
        <activity android:name="com.joker.thanglong.ChatActivity"/>
        <activity android:name="com.joker.thanglong.SearchActivity"/>
        <activity android:name="com.joker.thanglong.SettingActivity"/>
        <activity android:name="com.joker.thanglong.TrangChuDiemDanhActivity"/>
        <activity android:name="com.joker.thanglong.GroupActivity"/>
        <activity android:name="com.joker.thanglong.PagesActivity">
        </activity>
        <activity android:name="com.joker.thanglong.ImagePostActivity">
        </activity>
        <activity android:name="com.joker.thanglong.HomeListGroupActivity">
        </activity>
        <activity android:name="com.joker.thanglong.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.joker.thanglong.WelcomeActivity">
        </activity>
        <activity android:name="com.joker.thanglong.FollowActivity">
        </activity>
        <activity android:name="com.joker.thanglong.DemoActivity">
        </activity>
        <activity android:name="com.joker.thanglong.EditPostActivity">
        </activity>

        <service android:name="com.joker.thanglong.Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name="com.joker.thanglong.CommentPostFullActivity">
        </activity>
    </application>

</manifest>